
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#textAndInput {
    display: block;
    border: 2px solid #55575e; 
    border-radius: 10px; 
    background-color: #f8f9fa; 
    padding: 20px; 
    width: 90%; 
    max-width: 700px; 
    margin: 20px auto; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

#generatedText {
    font-size: 1.8em; 
    color: #333; 
    margin-bottom: 20px;
    text-align: left; 
    font-weight: bold;
}

#start {
    text-align: center;
}


h1 {
    color: #666;
    font-size: 3em;
    margin-bottom: 20px;
}

#data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

p {
    font-size: 1.7em;
    margin: 10px 0;
}


textarea {
    font-size: 1.5em; 
    padding: 10px;    
    width: 80%;
    max-width: 600px;
    height: 50px;
    border: 2px solid #ccc;
    margin-top: 20px;
    resize: none;
}


#result {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    font-size: 45px;
}


#result h2 {
    color: #333;
    margin-bottom: 20px;
}

#result p {
    color: #666;
    font-size: 1.2em;
}

#result button {
    padding: 10px 20px;
    background-color: #87CEEB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#result button:hover {
    background-color: #00BFFF;
}

#result button:active{
    background-color: #005F7F;
}


html,body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter {
    font-size: 1.5em; 
    display: inline-block; 
    transition: color 0.3s;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

